%p
  I believe that in today's world there are many reasons why children should pick up programming early on. In an environment increasingly dominated by computers, accompanying skills should be taught to children for the same reason we teach them languages, mathematics or geography. It is our responsibility to equip children with the knowledge necessary to understand our world and to have a host of options in it and I believe that programming can play an integral part in this.
  
%p 
  Children today are surrounded by software from their game consoles, over their music players to their mobile phones. By teaching them how to program, we can show them how to become an active and defining part of this new world we live in. Programming is a creative and challenging occupation with immediate feedback, which is highly suited to satisfy children's natural curiosity. 
  
%p
  If you know of other projects that you would like to see included here, please send an email to citizen428 [at] gmail [dot] com.
  
%h3 Disclaimer
%p
  This site was created as a resource for parents and/or educators who are interested in teaching programming to children of different age groups. All the description texts were taken from the original projects' websites, for the sole purpose of advertising said projects. All copyrights for such materials remain with the original authors.

%p
  The author of this web site has no commercial interest in it and all information is provided as-is and free of charge. In no event shall the author  be liable for any claims, damages or other liabilities arising from use of any of the projects listed here. 

%a{:href => "http://flattr.com/thing/55509/Happy-Nerds-Programming-Links-for-Kids", :target => "_blank"}
	%img{:src => "http://api.flattr.com/button/button-compact-static-100x17.png", :alt => "Flattr this", :title => "Flattr this",  :border => "0"}