!!!
%html{ :lang => "en" }
  %head
    %title Happy Nerds - Programming Links for Kids
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "Description", :content => "Information and links regarding teaching programming to children."}

    %meta{:name => "Keywords", :content => "children, kid, programming, coding, tutorials, agentsheets, alice, phrogram, robomind, sgp, scratch, simple, squeak, etoys, toontalk, logo, robomind" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css", :media => "all"}
    %link{:href => "http://fonts.googleapis.com/css?family=Inconsolata", :rel => "stylesheet", :type => "text/css"}
  %body
    %div{:id => "HEADER"}
      %h1
        %a{:href => "/"}
          %img{:src => "/img/logo.png", :title => "Happy Nerds", :alt => "Happy Nerds"}
      %ul
        %li
          %a{:href => '/'} Home
        %li
          %a{:href => '/view/windows'} Windows
        %li
          %a{:href => '/view/mac'} Mac
        %li
          %a{:href => '/view/linux'} Linux
        %li
          %a{:href => '/view/browser'} Browser
      .Visual
    %div{:id => "CONTENT"}
      %div{:id => "TEXT"}
        %h2 #{@page.capitalize}
        %img{ :id => "illustration", :src => "/img/schneidersitz.png", :alt => "Schneidersitz"}
        = yield

    %div{:id => "FOOTER"}
      :markdown
        This site is powered by [Sinatra](http://www.sinatrarb.com), [Heroku](http://heroku.com) and [MongoHQ](http://mongohq.com). It's [valid HTML5](http://validator.w3.org/check?uri=http%3A%2F%2Fhappynerds.net%2F&charset=%28detect+automatically%29&doctype=Inline&group=0) and mostly valid [CSS3](http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fhappynerds.net%2Fcss%2Fstyle.css&profile=css3&usermedium=all&warning=1&lang=en).

        &copy; [Michael Kohl](http://citizen428.net) ([@citizen428](http://twitter.com/citizen428))  2009, original CSS by [Fadr.at](http://fadr.at).

        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-1416057-3");
        pageTracker._trackPageview();
        } catch(err) {}</script>


