%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title Happy Nerds - Programming Links for Kids
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %body
    %a{:href => '/'} Home
    %a{:href => '/view/windows'} Windows
    %a{:href => '/view/mac'} Mac
    %a{:href => '/view/linux'} Linux
    = yield