/* STANDARD TAG REDEFINITIONS */
BODY { 
	color: White; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	background-color: #A64A00; 
	margin: 0; 
	padding: 0; 
}
p { font-size: 10pt; margin-bottom: 7px; margin-top: 0; }
a { color: #FFb173; text-decoration: none; }
a:hover{ text-decoration: underline; color: White; }

#HEADER { width: 760px; margin-left: auto; margin-right: auto;}
#HEADER ul { 
	margin: 0; 
	padding-left: 0; 
	height: 44px; 
	line-height: 44px; 
	display: block; 
	list-style: none; 
	background-color: #FF7100;
}
#HEADER li { display: inline; background-color: #BF6730; float: right; }
#HEADER li a { 
	height: 44px; 
	line-height: 44px; 
	display: block; 
	font-weight: bold;
	padding-left: 27px; 
	padding-right: 27px; 
	border-left: 1px solid #A64A00; 
	float: left;
}
#HEADER li a:hover { background-color: #FFBE40; text-decoration: none; }
#HEADER .Visual { 
	height:55px; 
	font-weight: bold;
	background-repeat: no-repeat;  
	background-color: #FFCF73;  
	border-top: 3px solid #A64A00;   
}
h1 { 
	margin: 0; 
	padding: 40px 0 0 0; 
	font-family: "trebuchet ms",arial,tahoma,verdana,sans-serif; 
	font-weight: normal; 
	letter-spacing: .005em; 
	color: White;  
	font-size: 20pt;
}

#CONTENT { width:760px; margin-left:auto; margin-right:auto; }
h2 { 
	margin: 0; 
	padding-bottom: 25px;
	font-family: "trebuchet ms",arial,tahoma,verdana,sans-serif; 
	font-weight: bold; 
	letter-spacing: .005em; 
	color: White; 
	font-size: 15pt; 
	text-align: justify;
}

#TEXT { 
	padding: 35px 40px 35px 40px; 
	border-top: 2px solid #A64A00;
	background-color: #FF9540; 
}
#TEXT p { margin-bottom: 1em; text-align: justify; }
#TEXT a { color: #A40004; text-decoration: none; letter-spacing: .005em; }
#TEXT a:hover { text-decoration: underline; }


#FOOTER {
	width:760px; 
	margin-top:27px; 
	margin-left:auto; 
	margin-right:auto;  
	border-top: 4px solid #FFCF73;  
	text-align: center;  
	padding-top: 5px;   
}
#FOOTER p { font-size: 11px; line-height: 14px; margin: 0;  color: #DDDDDD; }
#FOOTER a { 
	font-size: 11px;	
	font-weight: bold;	
	text-decoration: none;  
	color: White; 
}
#FOOTER a:hover { color: white; text-decoration: underline; }

