<h2><%= title_for(params[:type]) %></h2>

<% @sites.sort([["name", 1]]).each do |site| %>
    <article>
      <a href="<%= site['url'] %>"><%= site["name"] %></a>
      <p><%= site["description"] %></p>
    </article>
<% end %>